<%# Set Kaminari per page to 9 for 3x3 grid %>
<% Kaminari.config.default_per_page = 9 %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Search & Filter</h5>
          <%= form_with url: books_path, method: :get, local: true do %>
            <div class="mb-3">
              <%= text_field_tag :q, params[:q], placeholder: "Search by title", class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= select_tag :genre_id, options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]), include_blank: "All Genres", class: "form-select" %>
            </div>
            <%= submit_tag "Search", class: "btn btn-primary w-100" %>
          <% end %>
        </div>
      </div>
      <%= link_to "New book", new_book_path, class: "btn btn-success w-100 mb-4" %>
    </div>
    <div class="col-md-9">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Books List</h4>
        </div>
        <div class="card-body">
          <div class="row" id="books">
            <% if @books.any? %>
              <% @books.each do |book| %>
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                  <%= render book %>
                  <p>
                    <%= link_to "Show this book", book, class: "btn btn-outline-primary btn-sm mt-2" %>
                  </p>
                </div>
              <% end %>
            <% else %>
              <div class="col">
                <p>No books found.</p>
              </div>
            <% end %>
          </div>
          <div class="pagination d-flex justify-content-center mt-4">
            <%= paginate @books, theme: 'bootstrap4' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
